<div id="newChannelModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title" id="channelModalTextColor">Add channel</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="addChannel()">
                    <div class="form-group">
                        <label for="channel-name" id="channelModalTextColor">Channel name:</label>
                        <input type="text"
                               class="form-control"
                               ng-model="newChannel.name"
                               placeholder="Channel name" />
                    </div>
                    <button type="submit" class="btn btn-warning pull-right">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>