<!--<div class="col-md-12">
    <h3 ng-bind="title"></h3>
</div>-->
<!--<div class="col-md-4 col-md-offset-4">
    <form ng-submit="addChannel()">
        <fieldset>
            <legend>Add channel</legend>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text"
                       id="name"
                       class="form-control"
                       placeholder="Name..."
                       ng-model="newChannel.name" />
            </div>
            <button type="submit"
                    class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span> Create channel
            </button>
        </fieldset>
    </form>
</div>-->
<br />
<br />
<div class="col-md-12">
    <div class="col-md-4 col-md-offset-4">
        <h2 ng-bind="title" class="text-center glyphicon glyphicon-fire"></h2>
        <fieldset>
            <legend></legend>
        </fieldset>
        <button type="button"
                class="btn btn-warning"
                data-toggle="modal"
                data-target="#newChannelModal">
            Add new channel
        </button>
        <br />
        <br />
        <p>Permanently delete channels:</p>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-4 col-md-offset-4" id="glow" ng-repeat="channel in models.channels track by $index">
        <h3 ng-bind="channel.name"></h3>
        <button type="button"
                class="btn btn-danger"
                ng-click="deleteChannel(channel)">
            <span class="glyphicon glyphicon-remove"></span> Delete channel
        </button>
    </div>
</div>
 <!--<success-button ng-model="clicked"></success-button>-->

<div ng-include="'Views/Partials/NewChannelModal.html'"></div>