<div class="col-md-12">
    <div class="col-md-4 col-md-offset-4">
        <h2 ng-bind="title" class="text-center"></h2>
        <fieldset>
            <legend></legend>
        </fieldset>
        <p>Here you can find your favorite channels. You can unsubscribe at any time.</p>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-4 col-md-offset-4" id="glow" ng-repeat="channel in models.channels | filter: { subscribed: true } track by $index">
        <h3 ng-bind="channel.name"></h3>
        <button type="button"
                class="btn btn-primary"
                ng-click="toggleSubscription(channel.id)"
                ng-class="{'true':'button-default','false':'button-unique'}">
            <span class="glyphicon glyphicon-minus"></span> Unsubscribe
        </button>
    </div>
</div>
