<br />
<br />
<div class="col-md-12">
    <h3 ng-bind="title"></h3>
    <p>Welcome to Dummy Chat. Select the channel you want to go in!</p>
</div>
<div class="col-md-12" >
    <div ng-repeat="channel in models.channels track by $index">
        <h3 ng-bind="channel.name" ng-click="go('/Channel/' + channel.id)" class="pointer"></h3>
        <!--<channel-vote channel="channel"></channel-vote>-->
        <favorite-button ng-model="channel.subscribed"
                      ng-click="subscribe(channel.id)">
        </favorite-button>
    </div>
</div>