.no-whitespace {
    padding: 0;
    margin: 0;
}
body {
    background-image: url('../../Gallery/grunge-background-1463561188mfD.jpg');
    background-attachment: fixed;
    /*background-position: center;*/
    background-size: cover;
    background-repeat: no-repeat;
    color: antiquewhite;
    word-wrap: break-word;
}
#glow {
    border-style: outset;
    border-color: #A3A3A3;
    margin-bottom: 20px;
    /*-webkit-border-radius: 15px;
    -moz-border-radius: 15px;*/
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    /*background-image: url('../../Gallery/grunge-background-146356047033U.jpg');*/
    border-color: transparent;
    background-size: cover;
}